In [1]:
import pandas as pd
location = "titanic3.xls"
df = pd.read_excel(location)
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [72]:
Survive_Female =len(df[(df['sex']=='female') & (df['survived'] == 1)])
Dead_Female =len(df[(df['sex']=='female') & (df['survived'] == 0)])
Survive_Class1 =len(df[(df['pclass']==1) & (df['survived'] == 1)])
Dead_Class1 =len(df[(df['pclass']==1) & (df['survived'] == 0)])
Survive_Over18 =len(df[(df['age'] >18) & (df['survived'] == 1)])
Dead_Over18 =len(df[(df['age'] >18) & (df['survived'] == 0)])
Survive = len(df[df['survived'] == 1])
Dead=len(df[df['survived']==0])
Female=len(df[df['sex']=='female'])
Class1=len(df[df['pclass']==1])
Over18=len(df[df['age']>18])
Total=len(df[df['sex'].notnull() & df['sex'].notnull()])

In [11]:
def findBayesSurvive(p_Female_Survive ,p_Class1_Survive,p_Ove18_Survive,p_Total_Survive):
    return p_Female_Survive*p_Class1_Survive*p_Ove18_Survive*p_Total_Survive

In [21]:
import pandas as pd
p_Female_Survive = 339/466
p_Class1_Suvive=200/323
p_Ove18_Survive=332/853
p_Total_Survive=500/1309
print (findBayesSurvive(p_Female_Survive ,p_Class1_Suvvive,p_Ove18_Survive,p_Total_Survive))

0.06696697246037843

In [13]:
def findBayesDead(p_Female_Dead ,p_Class1_Dead,p_Ove18_Dead,p_Total_Dead):
    return p_Female_Dead*p_Class1_Dead*p_Ove18_Dead*p_Total_Dead

In [163]:
import pandas as pd
p_Female_Dead = 127/466
p_Class1_Dead=123/323
p_Ove18_Dead =521/853
p_Total_Dead =809/1309
print (findBayesDead(p_Female_Dead ,p_Class1_Dead,p_Ove18_Dead,p_Total_Dead))

0.03917580782162814

In [164]:
#prob (woman & firstclass|Survice) > prob(woman&firstclass|Dead)
#prob(woman+1stClass | survive) > prob(woman+1stClass | dead)
#0.06696697246037843 > 0.03917580782162814
# woman in the fisrt class is likely to survive.

In [19]:
import pandas as pd
location = "titanic3.xls"
df = pd.read_excel(location)
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [135]:
Survive_Male ==  len(df[(df['sex']=='male') & (df['survived'] == 1)])
Survive_Class2 = len(df[(df['pclass']==2)  & (df['survived'] == 1)])
Survive_Under18 = len(df[(df['age']<=18) & (df['survived'] == 1)])
Survive = len(df[df['survived'] == 1])
Dead_Male =len(df[(df['sex']=='male') & (df['survived'] == 0)])
Dead_Class2 =len(df[(df['pclass']==2) & (df['survived'] == 0)])
Dead_Under18 =len(df[(df['age'] <=18) & (df['survived'] == 0)])
Dead=len(df[df['survived'] == 0])

Male =len(df[df['sex']=='male'])
Class2 = len(df[df['pclass']==2])
Under18 = len(df[df['age']<=18])

Total=len(df[df['sex'].notnull() & df['age'].notnull()])

In [138]:
def findBayesSurvive1(p_Male_Survive ,p_Class2_Survive,p_Under18_Survive,p_Total_Survive):
    return p_Male_Survive*p_Class2_Survive*p_Under18_Survive*p_Total_Survive

In [139]:
import pandas as pd
p_Male_Survive = 161/843
p_Class2_Survive=119/277
p_Under18_Survive=95/193
p_Total_Survive=500/1046
print (findBayesSurvive1(p_Male_Survive ,p_Class2_Survive,p_Under18_Survive,p_Total_Survive))

0.019305013507051345

In [141]:
def findBayesDead1(p_Male_Dead ,p_Class2_Dead,p_Under18_Deade,p_Total_Dead):
    return p_Male_Dead*p_Class2_Dead*p_Under18_Dead*p_Total_Dead

In [142]:
import pandas as pd
p_Male_Dead = 682/843
p_Class2_Dead=158/277
p_Under18_Dead=98/193
p_Total_Dead=809/1046
print (findBayesDead1(p_Male_Survive ,p_Class2_Survive,p_Under18_Survive,p_Total_Survive))

0.019914645512537178

In [165]:
# prob(Girl_2ndClass | Survive)  <  Prob(Girl_2ndClass | Dead)
# 0.019305013507051345 < 0.019914645512537178
# girl_2ndClass is likely to die

In [130]:
# women in 3rd class 
Survive_Female =len(df[(df['sex']=='female') & (df['survived'] == 1)])
Dead_Female =len(df[(df['sex']=='female') & (df['survived'] == 0)])
Survive_Class3 =len(df[(df['pclass']==3) & (df['survived'] == 1)])
Dead_Class3 =len(df[(df['pclass']==1) & (df['survived'] == 0)])
Survive_Over18 =len(df[(df['age'] >18) & (df['survived'] == 1)])
Dead_Over18 =len(df[(df['age'] >18) & (df['survived'] == 0)])
Survive = len(df[df['survived'] == 1])
Dead=len(df[df['survived']==0])
Female=len(df[df['sex']=='female'])
Class3=len(df[df['pclass']==3])
Over18=len(df[df['age']>18])
Total=len(df[df['sex'].notnull() & df['sex'].notnull()])

In [159]:
def findBayesSurvive2(p_Female_Survive ,p_Class3_Suvive,p_Ove18_Survive,p_Total_Survive):
    return p_Female_Survive*p_Class3_Suvive*p_Ove18_Survive*p_Total_Survive

In [160]:
import pandas as pd
p_Female_Survive = 339/466
p_Class3_Suvive=181/709
p_Ove18_Survive=332/853
p_Total_Survive=500/1046
print (findBayesSurvive2(p_Female_Survive ,p_Class3_Suvive,p_Ove18_Survive,p_Total_Survive))

0.03455202406666402

In [161]:
def findBayesDead2(p_Female_Dead ,p_Class3_Dead,p_Ove18_Dead,p_Total_Dead):
    return p_Female_Dead*p_Class3_Dead*p_Ove18_Dead*p_Total_Dead

In [162]:
import pandas as pd
p_Female_Dead = 127/466
p_Class3_Dead=123/709
p_Ove18_Dead =521/853
p_Total_Dead =809/1046
print (findBayesDead2(p_Female_Dead ,p_Class3_Dead,p_Ove18_Dead,p_Total_Dead))

0.022334807295492174

In [166]:
#prob(woman+3rdclass |survive) > prob(woman+3rd class | dead)
#0.03455202406666402 > 0.022334807295492174

In [167]:
#Q4 man in 1st class
Survive_Male =len(df[(df['sex']=='male') & (df['survived'] == 1)])
Dead_Male =len(df[(df['sex']=='male') & (df['survived'] == 0)])
Survive_Class1 =len(df[(df['pclass']==1) & (df['survived'] == 1)])
Dead_Class1 =len(df[(df['pclass']==1) & (df['survived'] == 0)])
Survive_Over18 =len(df[(df['age'] >18) & (df['survived'] == 1)])
Dead_Over18 =len(df[(df['age'] >18) & (df['survived'] == 0)])
Survive = len(df[df['survived'] == 1])
Dead=len(df[df['survived']==0])
Male=len(df[df['sex']=='male'])
Class1=len(df[df['pclass']==1])
Over18=len(df[df['age']>18])
Total=len(df[df['sex'].notnull() & df['age'].notnull()])

In [183]:
def findBayesSurvive3(p_Male_Survive ,p_Class1_Survive,p_Ove18_Survive,p_Total_Survive):
    return p_Male_Survive*p_Class1_Survive*p_Ove18_Survive*p_Total_Survive

In [187]:
import pandas as pd
p_Male_Survive = 161/843
p_Class1_Suvive=200/323
p_Ove18_Survive=332/853
p_Total_Survive=500/1046
print (findBayesSurvive3(p_Male_Survive ,p_Class1_Suvive,p_Ove18_Survive,p_Total_Survive))

0.022001543379521017

In [188]:
def findBayesDead3(p_Male_Dead ,p_Class1_Dead,p_Ove18_Dead,p_Total_Dead):
    return p_Male_Dead*p_Class1_Dead*p_Ove18_Dead*p_Total_Dead

In [189]:
import pandas as pd
p_Male_Dead = 682/843
p_Class1_Dead=123/323
p_Ove18_Dead =521/853
p_Total_Dead =809/1046
print (findBayesDead3(p_Male_Dead ,p_Class1_Dead,p_Ove18_Dead,p_Total_Dead))

0.14553415155620825

In [190]:
#prob(male_1stclass|survive) < prob(male_1stclass|dead)
#0.022001543379521017 < 0.14553415155620825
#Male at the Frist Class is likely to die